// These colors are specific to the theme. Do not use in a package!

// colors
@background: #222223;
@foreground: #F5EDD8;
@selection: #076678;
@comment: #908984;
@red: #EE4239; // 08
@orange: #FA811C; // 09
@yellow: #FCBB2B; // 0A
@green: #8DBB36; // 0B
@cyan: #51B68D; // 0C
@blue: #42A1BA; // 0D
@purple: #B56299; // 0E
@pink: #E980B1;

// not dracula colors
@lace: #FAF5DC;
@white: #F5EDD8;
@black: #222223;
@blue: #42A1BA;

// default syntax set colors
@very-dark-gray: @background;
@dark-gray: hsla(220, 100%, 80%, .08); // Current Line & Selection
@gray: #908984;
@light-gray: #D3CBBC;
@very-light-gray: @foreground; // Foreground

// @cyan: #8abeb7;
// @blue: #81a2be;
// @purple: #b294bb;
// @green: #b5bd68;
// @red: #cc6666;
// @orange: #de935f;
// @light-orange: #f0c674;
